[Mode]
mode = {
        "login":[],
        "list_customer":[],
        "add_customer":[1,2,3,4],
        "put_customer":[],
        "delete_customer":[]
        }

[Excel_row]
excel_row = {
        "caseid":1,
        "url":2,
        "data":3,
        "title":4,
        "method":5,
        "data_type":6,
        "expect":7,
        "result":8,
        "test_result":9,
        "test_sql":10
        }