[Mail]
mail = {
          "sender":"1535886327@qq.com",
          "auth": "#",
          "smtp_host": "smtp.qq.com",
          "smtp_port": 465,
          "receiver": ['2793249365@qq.com', 'itshangwu@163.com'],
          "cc":"shangwu@dasyinfo.com",
          "subject":"邮件主题：Success!",
          "content_text":"邮件正文内容：This message from zmail!",
          "content_html":content_html,
          "attachments":[test_report_path, test_image_path]
        }
